/* html {
  background-color: #F5F5F5;
  z-index: -50000;
} */

html,
body {
  margin: 0;
  line-height: 1.7;
  font-weight: 400;
  letter-spacing: 0.15em;
  color: #362918;
}

body {
  font-family: var(--font-notojp), sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
