.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1160px;
  height: 100%;
}

.rightArrow,
.leftArrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 2.5rem;
  color: #8f9faa;
  border: 1px solid #edf2f7;
  border-radius: 100%;
  background-color: #edf2f7;
  opacity: 0.8;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.rightArrow {
  right: 32px;
}

.leftArrow {
  left: 32px;
}

.slide {
  opacity: 0;
  transition: opacity 1s ease, transform 1s ease;
  transform: translateX(0);
}

.slideActive {
  opacity: 1;
  transform: translateX(0);
}

.slideNext {
  opacity: 0;
  transform: translateX(100%);
}

.slidePrev {
  opacity: 0;
  transform: translateX(-100%);
}

@media screen and (max-width: 600px) {
  .rightArrow,
  .leftArrow {
    font-size: 1.75rem;
  }
}
